*{
    margin: 0;
    padding: 0;
  }
  
  .wrapper{
    overflow-x: hidden;
    overflow-y: auto;    
  }
  
  .wrapper h3{
    margin-top: 20px;
    margin-left: 60px;
    text-align: start;
    text-decoration: underline;
    color: brown;
  }
  
  .wrapper p{
    text-align: center;
    margin-top: 7px;
    font-weight: bold;
  }
  
  .wrapper .main{
    display: flex;
    margin-top: 20px;
    align-items: center;
  }
  
  .wrapper .form-container{
    width: 500px;
    height: 600px;
    background-color: #e4e4e4;
    margin: 15px ;
    margin-bottom: 1px;
    padding: 10px;   
  }

  .wrapper .form-container label{
    font-weight: 700;
  }

  .wrapper .form-container input{
     width:80% ;
     margin-left: 25px;
    
  }
  
  .wrapper .form-container .btn{
    width: 100%;   
  }
  
  .wrapper .view-container{
    width: 600px;    
    background-color: #e4e4e4;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .delete-btn{
    color: red;
    cursor: pointer;
  }

  .edit-btn{
    color: blue;
    cursor: pointer;
  }
  
  tbody{
    margin-top: 25px;
  }